doctype html
html(lang="en")
  head
    title="Userdash | Login"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/dashboard/assets/userdash.css")
  body
    .container
      #info-message
        p Info here

      .content
        h2(style="margin: 10px;") Login

        input#email-input(placeholder="email@domain.com")
        input#code-input(type="number", placeholder="12345", style="display: none;")
        button#code-button(onclick="API.sendCode()") Send Code
        button#login-button(onclick="API.login()", style="display: none;") Validate Code

        label.current-users Current Users: Loading...

    footer
      label We are not affiliated with The Walt Disney Company and/or EA.

  script(src="/dashboard/assets/api.js")
