doctype html
html(lang="en")
  head
    title="Userdash"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/dashboard/assets/userdash.css")
  body
    .container
      .content
        button(onclick="window.location=\"/userdash/login\";", style="width: 100%;") Login
        button(onclick="window.location=\"/userdash/signup\";", style="width: 100%;") Sign Up

    footer
      label We are not affiliated with The Walt Disney Company and/or EA.

  script(src="/dashboard/assets/api.js")
