doctype html
html(lang="en")
  head
    title="Userdash"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/dashboard/assets/userdash.css")
  body
    .container(style="display: flex; flex-direction: column; height: 92.5vh; padding: 1rem;")
      .wrapper
        .box
          h3 Account Operations
          .row
            input#username-input
            button(onclick="API.changeUsername()") Change Username
          .row
            input#email-input
            button(onclick="API.changeEmail()") Change Email

          .row
            button(onclick="API.logout()") Logout

            button#delete-button(style="background-color: red;", onclick="API.areYouSure()") Delete Account

        .box
          h3 Town Operations
          .row
            form#user-town-form(enctype="multipart/form-data")
              input#town-input(type="file", name="town", accept=".pb, .land", required="true")
              button(type="submit") Upload
          .row
            button(onClick="API.usersDownloadFile()") Export Town

        .box
          h3 Friends
          p Soon...

        .infobox(style="overflow-y: auto; max-height: 50vh; padding: 1rem;")
          div
            .column
              h4 Town Operations Instructions
              p - Click Browse
              p - In the new window, locate and select the saved .pb or .land file
              p - Click Upload
            .column
              h4 Don't have your Springfield file?
              p - Go to https://towns.spanser.dev/
              p - Search for your In-Game Username (If it isn't present, your Springfield is gone but you can create a new one when you sign up)
              p - Download your file
              p - Unzip your file using 7-Zip or WinRAR
              p - Follow the Town Operations Instructions above and upload the .pb or .land file
            .column
              h4 Don't remember your In-Game Username?
              p - Log into https://www.ea.com/
              p - Go to your Profile

  script(src="/dashboard/assets/api.js")
