doctype html
html(lang="en")
  head
    title="Dashboard | Savefiles"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/dashboard/assets/dashboard.css")
  body
    .container
      nav.header
        ul.navbar
          li.navbar-item
            a(href="/dashboard") General
          li.navbar-item
            a(href="/dashboard/event") Event
          li.navbar-item
            a(href="/dashboard/users") Users
          li.navbar-item
            a(href="/dashboard/savefiles") Savefiles
          li.navbar-item
            a Configuration

        button.logout-button(onclick="API.adminLogout()")
          svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 512 512" width="25" height="25")
            path(fill="white", d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z")

      .wrapper
        .content.top
          .search-controls
            select#pageSize(onchange="API.savefilesChangePageSize()")
              option(value="10") 10 per page
              option(value="25") 25 per page
              option(value="50") 50 per page
              option(value="100") 100 per page

            button(onclick="API.savefilesPreviousPage()") Previous
            button(onclick="API.savefilesNextPage()") Next

            input#searchInput(type="text", onchange="API.savefilesSearch()", placeholder="Search by Username, Email, Mayhem ID or User ID...")
            button(onclick="API.savefilesSearch()") Search
          .table-wrapper#savefiles-table(style="max-height: 65vh; overflow-y: auto;")
            table.table
              thead
                tr
                  th Username
                  th Email
                  th Actions
              tbody#savefiles-table-body
                // Data will be put here

    script(src="/dashboard/assets/api.js")
