doctype html
html(lang="en")
  head
    title="Dashboard | General"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/dashboard/assets/dashboard.css")
  body
    .container
      nav.header
        ul.navbar
          li.navbar-item
            a(href="/dashboard") General
          li.navbar-item
            a(href="/dashboard/event") Event
          li.navbar-item
            a Users
          li.navbar-item
            a Savefiles
          li.navbar-item
            a Configuration

        button.logout-button(onclick="API.adminLogout()")
          svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 512 512" width="25" height="25")
            path(fill="white", d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z")

      .wrapper
        .content.event-info
          label Info

          .event-info-content
            label Current Event:
            div#event-div Loading...
        .content-divider
        .content.quick-actions
          label Quick Actions

          .quick-actions-buttons
            form#event-form
              select(id="lobbytime", name="lobbytime" class="selectpicker")
                option(value="0" data-subtext="Now") Now

              button(type="submit") Change Event

    script(src="/dashboard/assets/api.js")
    script.
      fetch("/dashboard/assets/events.json")
        .then(response => response.json())
        .then(response => {
          const dropdown = document.getElementById("lobbytime");

          Object.keys(response).forEach(group => {
            const optgroup = document.createElement("optgroup");
            optgroup.label = group;

            response[group].forEach(eventTime => {
              const option = document.createElement("option");
              option.value = eventTime.timestamp;
              option["data-subtext"] = eventTime.date;
              option.textContent = eventTime.name;

              optgroup.appendChild(option);
            })

            dropdown.appendChild(optgroup);
          })
        })

      document.getElementById("event-form").addEventListener("submit", async (event) => {
        event.preventDefault();

        const timestamp = document.getElementById("lobbytime").value;

        try {
          const response = await fetch('/dashboard/api/event/set', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ timestamp }),
          });

          API.getEvent();
        } catch (error) {
          console.error('Error:', error);
        }
      });
